.App {
  text-align: center;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(32, 4, 4);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 9%;
  width: 80%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.toggle {
  background: rgb(25, 66, 94);
  border-radius: 45px;
  height: 25px;
  left: 0;
  position: absolute;
  transition: 1s;
  width: 17px;
}

.toggled {
  left: 20px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode__toggle {
  background: rgb(143, 141, 151);
  border-radius: 50px;
  border: 1px solid black;
  height: 30px;
  position: relative;
  width: 50px;
}
